<a href="https://colab.research.google.com/github/irenefacchin/QM2-Project/blob/main/Middle_Class_Population_Data_Kharas_2017.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab

In [ ]:
!mkdir data

In [ ]:
!curl https://raw.githubusercontent.com/irenefacchin/QM2-Project/main/Analysis/Code/MC_pop_report.csv -o ./data/MC_population.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   129  100   129    0     0    724      0 --:--:-- --:--:-- --:--:--   720

In [ ]:
m_path = "./data/MC_population.csv"
m = pd.read_csv(m_path)
m.head(8)

   year  global middle class population (billions)
0  1985                                      1.000
1  2006                                      2.000
2  2015                                      3.030
3  2016                                      3.200
4  2020                                      3.766
5  2022                                      4.000
6  2025                                      4.617
7  2030                                      5.412